* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Common-Style */
:root {
  --primary-color: #3a3a3a;
  --secondary-color: #0a0826;
  /* --primary-bg: rgba(170, 170, 170, 1); */
  --bg: #0a0826;
  --btn-bg1: rgba(224, 44, 109, 1);
  --btn-bg2: rgb(174, 34, 85);
  --text-white: #fff;
  --text-pink: rgba(224, 44, 109, 1);
  --card-bg: #fff;
  --color-black: #000;
  --Cdark1: rgba(24, 25, 31, 1);
  --Cdark2: rgba(0, 0, 0, 0.87);
  --Cdark3: rgba(251, 130, 0, 1);
  --Cdark4: rgba(94, 99, 102, 1);
  --Cdark5: rgba(120, 120, 133, 1);
  --dark6: rgb(38, 0, 208);
}
/* Font-Family */
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.btn {
  padding: 10px 24px;
  background: var(--btn-bg1);
  border: none;
  color: var(--text-white);
  font-weight: 700;
  display: flex;
}
.btn:hover {
  background: var(--btn-bg2);
}
.btn i {
  margin-left: 8px;
  font-size: 1rem;
}
/* header, main */
footer {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
}
body {
}
/* header */
header {
  border: 1px solid rgb(0, 0, 0);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
}
nav .title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}
nav .nav-links {
  list-style-type: none;
  display: flex;
  gap: 34px;
  align-items: center;
}
nav .nav-links li {
  transition: transform 0.15s ease-in-out;
}
nav .nav-links li:hover {
  transform: scale(1.2);
  text-decoration: underline;
}
nav .nav-links a {
  text-decoration: none;
  font-weight: 500;
  color: var(--primary-color);
}
nav .nav-links li a:focus {
  color: var(--dark6);
}
nav .nav-links li img {
  width: 30px;
  margin-top: 5px;
}
/* Banner */
.banner {
  /* border: 1px solid lime; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  /* border: 1px solid red; */
  max-width: 580px;
}
.banner-title {
  font-size: 3.25rem;
  color: var(--primary-color);
  font-weight: 700;
  line-height: 1.4;
}
.banner-discription {
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 16px;
}
.banner-btn {
  border-radius: 40px;
}
.banner-image {
  max-width: 420px;
  background-image: url(assets/images/Circle\ design.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
/* main */
main {
  border: 1px solid rgb(255, 0, 0);
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}
.company-section {
  margin: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  position: relative;
}
.company-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(192, 204, 218, 0.1),
    rgba(192, 204, 218, 0.6),
    rgba(192, 204, 218, 0.1)
  );
}
.company-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(192, 204, 218, 0.1),
    rgba(192, 204, 218, 0.6),
    rgba(192, 204, 218, 0.1)
  );
}
/* products-section */
.products-section {
  padding: 0 30px;
}
.products-section .section-title {
  color: var(--primary-color);
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.products-section .products-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}
.products-section .products-card .card {
  padding: 17px 14px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 16px rgb(199, 199, 199);
}
.products-card .card img {
  width: 100%;
  border-radius: 5px;
}
.products-card .card .product-title {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--Cdark1);
  margin-bottom: 6px;
}
.products-card .card .price {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--Cdark2);
}
.products-card .card .product-details {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--Cdark5);
}
.products-section .more-products {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--btn-bg1);
  font-weight: 700;
}
/* feature-section */
.feature-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
.feature-image {
  width: 35%;
}
.feature-content {
  width: 60%;
}
.feature-title {
  font-size: 2.375rem;
  font-weight: 700;
  color: var(--bg);
}
.feature-details {
  font-weight: 700;
  color: var(--Cdark4);
  margin: 14px 0;
}
@media screen and (max-width: 576px) {
  /* Common-Style */
  header {
    margin: 0 10px;
    padding: 0;
  }
  nav {
    flex-direction: column;
    margin: 30px auto;
  }
  nav .title {
    font-size: 1.25rem;
    margin-bottom: 16px;
  }
  nav .nav-links {
    flex-direction: column;
    gap: 10px;
  }
  nav .nav-links li a {
    font-size: 0.875rem;
  }
  nav .nav-links li img {
    width: 30px;
    margin-top: 0;
  }
  /* Banner */
  .banner {
    flex-direction: column-reverse;
  }
  .banner-content {
    width: 100%;
    text-align: center;
  }
  .banner-title {
    font-size: 1.75rem;
  }
  .banner-discription {
    font-weight: 500;
    font-size: 0.875rem;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 30px;
  }
  .banner-btn {
    margin: auto;
  }
  .banner-image {
    width: 260px;
    height: 260px;
    margin-top: 50px;
    margin-bottom: 14px;
  }
  .banner-image img {
    width: 100%;
  }
  /* main */
  main {
    border: 1px solid rgb(0, 255, 26);
    margin: 0 15px;
    padding: 0;
  }
  .company-section {
    margin: 50px 26px;
    gap: 10px;
    padding: 0px 0;
  }
  .company-section::before {
    left: 0;
    height: 0px;
  }
  .company-section::after {
    height: 0px;
  }
  .company-section a {
    text-align: center;
  }
  .company-section a img {
    width: 70%;
  }
  /* products-section */
  .products-section .section-title {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .products-section .products-card {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin-bottom: 20px;
  }
  .products-card .card .product-title {
    font-weight: 700;
  }
  .products-card .card .price {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .products-card .card .product-details {
    font-weight: 500;
  }
  /* feature-section */
  .feature-section {
    margin: 50px 0;
    flex-direction: column-reverse;
    gap: 30px;
  }
  .feature-image {
    width: 90%;
  }
  .feature-content {
    width: 100%;
    text-align: center;
  }
  .feature-title {
    font-size: 1.5rem;
  }
  .feature-details {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .feature-btn{
    margin: 0 auto;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  header {
    margin: 0 20px;
    padding: 0;
  }
  /* header */
  nav {
    flex-direction: column;
    margin: 30px auto;
  }
  nav .title {
    margin-bottom: 16px;
  }
  nav .nav-links {
    flex-direction: column;
    gap: 10px;
  }
  nav .nav-links li img {
    width: 30px;
    margin-top: 0;
  }
  /* Banner */
  .banner {
    flex-direction: column-reverse;
  }
  .banner-content {
    width: 100%;
    text-align: center;
  }
  .banner-title {
    font-size: 2.5rem;
  }
  .banner-discription {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 24px;
    padding: 0 30px;
  }
  .banner-btn {
    margin: auto;
  }
  .banner-image {
    width: 350px;
    height: 350px;
    margin-top: 80px;
    margin-bottom: 14px;
  }
  .banner-image img {
    width: 100%;
  }
  /* main */
  main {
    border: 1px solid rgb(255, 0, 0);
    margin: 0 30px;
    padding: 0;
  }
  .company-section {
    margin: 70px 40px;
    gap: 30px;
    padding: 0px 0;
  }
  .company-section::before {
    height: 0px;
  }
  .company-section::after {
    height: 0px;
  }
  /* products-section */
  .products-section .section-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .products-section .products-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .products-card .card .product-title {
    font-weight: 700;
    font-size: 24px;
  }
  .products-card .card .price {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .products-card .card .product-details {
    font-weight: 500;
  }
  /* feature-section */
  .feature-section {
    margin: 70px 0;
    flex-direction: column-reverse;
    gap: 30px;
  }
  .feature-image {
    width: 80%;
  }
  .feature-content {
    width: 100%;
    text-align: center;
  }
  .feature-title {
    font-size: 2rem;
  }
  .feature-details {
    margin: 14px 0;
  }
  .feature-btn{
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header {
    margin: 0 30px;
    padding: 0;
  }
  /* header */
  nav {
    margin: 20px auto;
  }
  nav .nav-links {
    gap: 20px;
  }
  /* Banner */
  .banner {
    margin-top: 50px;
  }
  .banner-content {
    max-width: 58%;
  }
  .banner-title {
    font-size: 2.5rem;
    line-height: 1.3;
  }
  .banner-discription {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .banner-image {
    max-width: 38%;
  }
  .banner-image img {
    width: 100%;
  }
  /* main */
  header {
    margin: 0 30px;
    padding: 0;
  }
  main {
    border: 1px solid rgb(0, 238, 255);
    margin: 0 30px;
  }
  .company-section {
    margin: 80px 0;
    gap: 0px;
  }
  .company-section a {
    text-align: center;
  }
  .company-section a img {
    width: 70%;
  }
  /* products-section */
  .products-section .section-title {
    margin-bottom: 20px;
  }
  .products-section .products-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .products-card .card .product-title {
    font-weight: 700;
  }
  .products-card .card .price {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .products-card .card .product-details {
    font-weight: 500;
    color: var(--Cdark5);
  }
  /* feature-section */
  .feature-section {
    flex-direction: column;
    gap: 40px;
  }
  .feature-image {
    width: 65%;
  }
  .feature-content {
    width: 100%;
    text-align: center;
  }
  .feature-btn{
    margin: 0 auto;
  }
}
